@use "../abstracts" as a;

.l-stats {
  display: flex;
  flex-direction: column;
  @media (a.$media-desktop) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 20rem;
    margin-top: 4.1rem;
  }
}

.l-stats__item + .l-stats__item {
  margin-top: 1.5rem;
  @media (a.$media-desktop) {
    flex-direction: row;
    margin-top: 0;
  }
}
