// Very dark blue (main background)
$cl-very-dark-blue: hsl(233, 47%, 7%);

// Dark desaturated blue (card background): hsl(244, 38%, 16%)
$cl-dark-desaturated-blue: hsl(244, 38%, 16%);

// Soft violet (accent)
$cl-soft-violet: hsl(277, 64%, 61%);

// White (main heading, stats)
$cl-white: hsl(0, 0%, 100%);

// Slightly transparent white (main paragraph)
$cl-slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);

// Slightly transparent white (stat headings)
$cl-slightly-transparent-white-h: hsla(0, 0%, 100%, 0.6);
